
// NEWSLETTER
#newsletter.section
  // container
  .container
    // row
    .row
      .col-md-12
        .newsletter
          p
            | Sign Up for the 
            strong NEWSLETTER
          form
            input.input(type='email' placeholder='Enter Your Email')
            button.newsletter-btn
              i.fa.fa-envelope
              |  Subscribe
          ul.newsletter-follow
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-instagram
            li
              a(href='#')
                i.fa.fa-pinterest
    // /row
  // /container
// /NEWSLETTER
// FOOTER
footer#footer
  // top footer
  .section
    // container
    .container
      // row
      .row
        .col-md-3.col-xs-6
          .footer
            h3.footer-title About Us
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            ul.footer-links
              li
                a(href='#')
                  i.fa.fa-map-marker
                  | 1734 Stonecoal Road
              li
                a(href='#')
                  i.fa.fa-phone
                  | +021-95-51-84
              li
                a(href='#')
                  i.fa.fa-envelope-o
                  | email@email.com
        .col-md-3.col-xs-6
          .footer
            h3.footer-title Categories
            ul.footer-links
              li
                a(href='#') Hot deals
              li
                a(href='#') Laptops
              li
                a(href='#') Smartphones
              li
                a(href='#') Cameras
              li
                a(href='#') Accessories
        .clearfix.visible-xs
        .col-md-3.col-xs-6
          .footer
            h3.footer-title Information
            ul.footer-links
              li
                a(href='#') About Us
              li
                a(href='#') Contact Us
              li
                a(href='#') Privacy Policy
              li
                a(href='#') Orders and Returns
              li
                a(href='#') Terms &amp; Conditions
        .col-md-3.col-xs-6
          .footer
            h3.footer-title Service
            ul.footer-links
              li
                a(href='#') My Account
              li
                a(href='#') View Cart
              li
                a(href='#') Wishlist
              li
                a(href='#') Track My Order
              li
                a(href='#') Help
      // /row
    // /container
  // /top footer
  // bottom footer
  #bottom-footer.section
    .container
      // row
      .row
        .col-md-12.text-center
          ul.footer-payments
            li
              a(href='#')
                i.fa.fa-cc-visa
            li
              a(href='#')
                i.fa.fa-credit-card
            li
              a(href='#')
                i.fa.fa-cc-paypal
            li
              a(href='#')
                i.fa.fa-cc-mastercard
            li
              a(href='#')
                i.fa.fa-cc-discover
            li
              a(href='#')
                i.fa.fa-cc-amex
          span.copyright
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright &copy;
            script.
              document.write(new Date().getFullYear());
            |  All rights reserved | This template is made with 
            i.fa.fa-heart-o(aria-hidden='true')
            |  by 
            a(href='https://colorlib.com' target='_blank') Colorlib
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      // /row
    // /container
  // /bottom footer
// /FOOTER
// jQuery Plugins
script(src='../public/electro/js/jquery.min.js')
script(src='../public/electro/js/bootstrap.min.js')
script(src='../public/electro/js/slick.min.js')
script(src='../public/electro/js/nouislider.min.js')
script(src='../public/electro/js/jquery.zoom.min.js')
script(src='../public/electro/js/main.js')